<aside>
	<div class="panel radius">
		<h3>Services</h3>
		<p>With your stay comes included:
				<li>Breakfast</li>
				<li>Wifi</li>
				<li>Transport</li>
				<li>Clothes washing facilities</li>
		</p>
	</div>
<!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Something" alt="">
 -->

	<div class="border-dotted radius b30">
		<img src="{{site.urlimg}}slippers.jpg" alt="">
		<p class="text-left">
			<strong>Slippers to keep you warm!</strong>
		</p>
	</div>

	<div class="panel radius">
		<h3>Other ideas</h3>
		<p>
			We can also help you organise activities:
				<li><a href="http://atlasmorocco.co.uk/" target="_blank" >trekking company (our sister company)</a></li>
				<li>Cooking classes</li>
				<li>Trip to the Sahara</li>
		</p>
	</div>
</aside>
