<aside>
	<div class="panel radius">
		<h3>Some links you might find useful:</h3>
		<p>
				<li><a href="https://www.accuweather.com/en/ma/imlil/1585014/weather-forecast/1585014" target="_blank" >weather forecast</a></li>
					<li><a href="https://www.youtube.com/watch?v=_S4vkN7PqEA" target="_blank" >fun documentary about Morocco</a></li>
					<li>transport</li>
		</p>
	</div>


	<div class="border-dotted radius b30">
		<img src="{{site.urlimg}}camel_rachid.jpeg" alt="uh, Placekitten">
		<p class="text-left">
			Rachid and our two guests, Andrei and Susan riding camels! <a href="{{site.url}}/about_us/">Click here to find out more about Rachid and his team.</a>
		</p>
	</div>

	<img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Something" alt="">


</aside>
