<aside>
	<div class="panel radius">
		<h3>Extra resources</h3>
		<p>Useful sites to organise your trip:
				<li><a href="http://atlasmorocco.co.uk/" target="_blank" >trekking company (our sister company)</a></li>
				<li>Wifi</li>
				<li>Transport</li>
				<li>Clothes washing facilities</li>
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="{{site.urlimg}}slippers.jpg" alt="uh, Placekitten">
		<p class="text-left">
			Don't forget a camera!
		</p>
	</div>

	<div class="panel radius">
		<h3>More ideas:</h3>
		<p>
			We can also help you organise trips:
				<li>Sahara desert</li>
				<li>Essaouira (popular seaside town)</li>
		</p>
	</div>
</aside>
